:root {
    --color-bg: linear-gradient(to bottom right,#1e303a,#9b001a);
    --color-text: #000;

    --color-primary: snow;
    --color-secondary: rgb(58, 134, 179);
    --color-third: #9b001a;
    --color-four: rgba(211, 211, 211, 0.5);
}